@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Orientation Handling */
@media (orientation: portrait) {
  #orientation-banner {
    display: flex !important;
  }
}

/* Fix for mobile address bar bouncing */
html,
body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior: none;
}
